.container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.container .container-form{
    padding-top: 10%;
    text-align: center;
    padding-left: 4%;
    
}

.container .container-map{
    padding-top: 10%;
    text-align: center;
    padding-right: 4%;
    
}



